[2017-09-12 20:44] renatorib opened #5 "Add tests"

[2017-09-15 01:27] renatorib opened #6 "Discussion for 1.0"
1.x will be a fully breaking change in 0.x api, and that's why I'm planning on version 1.0 so early.

**I'm open to all suggestions, opinions, considerations, etc.**

### Components and their Children Props
[code]

### Set Methods
All set methods will be the "set or over pattern" (I don't know if this pattern have a name), same as setState: If pass plain value, set the value, if pass function, eva

[2017-09-15 20:05] renatorib commented on #6
Thinking about components like `<Hover>` that binds onMouseEnter / onMouseLeave

[code]

But can't think in more cases like that to include

[2017-09-18 09:31] yakovlevyuri commented on #5
@renatorib Hey, can help you to add Storybook to the project and Jest tests.

[2017-09-18 14:01] renatorib commented on #5
@yakovlevyuri That will be great! Feel free :D

[2017-09-18 20:49] renatorib commented on #6
Thinking about support `render prop`:

[code]

[2017-09-19 14:48] renatorib commented on #6
Support for render prop and some other components will be added in 0.4.0 https://github.com/renatorib/react-powerplug/pull/7

[2017-09-26 03:39] renatorib commented on #6
Adding already adding initial jest/enzyme tests in 0.4.

[2017-09-29 15:39] renatorib commented on #5
Added some initial tests with jest/enzyme. But nothing very expressive, just testing it's mouting. I do not have much testing experience, so I'm going to need some help for sure.

I'll create another issue to improve tests

[2017-09-29 15:39] #5 closed

[2017-10-07 19:25] MaxGraey opened #9 "What is the point is "Loading" component if we already have "Toggle"?"
**Toggle**
[code]

**Loading**
[code]

The logic is the same except names

[2017-10-09 02:19] renatorib commented on #9
Hey, Max!

In fact, they do the same thing: turn a state on/off.

I was thinking in "what the most common scenarios?" and found these two, and another ones. I decided to create both, so people can use it contextually.

In the next major version that I'm working on (1.0), I'm planning to have only one, but using an alias to another, so I can remove "duplicate" code, but still have both.

Also I'm p

[2017-10-09 03:06] renatorib commented on #9
Just for complementing
Value and Index also do the same thing, since Value also accept a number, you can do the same logic what you do with Index, using Value.

[2017-10-09 07:31] MaxGraey commented on #9
@renatorib thanks for explanation. So in the next version we have more convenient approach.

[2017-10-09 07:31] #9 closed

[2017-10-09 14:00] renatorib commented on #9
:)

[2017-10-14 22:29] MaxGraey opened #10 "Will be nice have example how to listen changes for parents"
So now I can see it like this for example:

[code]

Can we do It in easier way? For example:

[code]

[2017-10-15 00:11] renatorib commented on #10
Oh yeah. It's a thing on my mind!

I was thinking these days about have a prop `onChange` on all components.
Now I am convinced to implement.

[2017-10-15 00:13] renatorib commented on #10
Something like this:

[code]

[2017-10-15 01:04] MaxGraey commented on #10
Yep, just the thing!

[2017-10-17 01:27] #10 closed

[2017-10-17 02:01] renatorib commented on #10
Hey @MaxGraey
I've published v0.1.2 with `onChange` callback on all components.

Still needs a documentation, but you can use it now.

[code]

[2017-12-29 08:41] souporserious opened #15 "Individual imports"
First, great job on everything! I love all of these small, powerful components 🙌. I was curious.. since I only need a subset of these, is it possible to set up the build so we can do imports like this:
[code]

I'm not too familiar with rollup, but I can try out a PR if you would like 😁

[2017-12-29 14:09] renatorib commented on #15
Thanks again :smile:

For now it's possible to import this way
[code]
or
[code]

(I don't know the difference :sweat_smile:)

[2017-12-30 00:43] souporserious commented on #15
Oh awesome! That's wonderful 👏  I'll look into it and see if we can make them a litter easier to write, but this works great for now. Thanks for the quick reply!

[2017-12-31 04:43] renatorib commented on #15
You're welcome!

I will leave this issue open, so anyone can help too.

[2018-01-10 06:59] TrySound commented on #15
I would not rely on folder structure. It's bad pattern and tree shaking improvements in the last months can prevent us from it.

[2018-01-10 09:44] TrySound commented on #6
bindedValue -> boundValue
setBindedValue -> setBoundValue

[2018-01-10 14:22] renatorib commented on #6
damn irregular verbs

[2018-01-13 18:13] TrySound opened #18 "Rename some component in 1.0"
- `Set` conflicts with native one
- `State` AFAIK is used often with typescript and flow for state type (it's still may be required for State component `initial`).

It's just a note to consideration.

[2018-01-13 19:01] TrySound opened #19 ""renderless" in description confusing"
Where did it come from? [react docs](https://reactjs.org/docs/render-props.html) refers to it as render props.

"renderless" is something which does not affect render. But state containers are embedded to render, so it's weird IMHO.

[2018-01-15 03:04] renatorib commented on #19
I think **renderless** is a good name and fits the purpose. The entire lib does not render any DOM element. It provides only data so you can render with your own UI. But this UI is not powerplug anymore.

I know that the "winner term" is render props, and I think I can refer this more than once in docs to avoid confusion, but personally I want to call powerplug as Renderless Components.

[2018-01-15 03:09] renatorib commented on #18
Nice points! BTW, Set and Map are two components that I'm considering to include in 1.0 too.

I need to think in a name to the current Set component that works as "key-value" setter/getter. I'm really bad with names.

[2018-01-15 03:13] renatorib commented on #15
You are right @TrySound.
Do you have some suggestions?

[2018-01-15 03:18] alexkrolick commented on #19
Me too :P https://github.com/alexkrolick/react-renderless

I haven't worked on my lib nearly as much as @renatorib but they both came out at the same time and are inspired by the same concept. Here's how I explain it in the readme:

[2018-01-15 03:20] alexkrolick commented on #18
How about `Store` or `KeyValue`?

[2018-01-15 05:36] #19 closed

[2018-01-15 05:40] TrySound commented on #18
Also maybe we can choose some suffix? Implementing `Toggle` can be not easy with the same component in the scope. Something like `SetPlug`, `StatePlug`, `TogglePlug`?

[2018-01-15 06:05] TrySound commented on #15
I tried both rollup and webpack and they both treeshake good. The only side effect now is `State` component, but it's base component, it always will be if library is used.

[2018-01-15 08:03] TrySound commented on #18
Suffix is good to associate usage with native stuff, but without name collision.

[2018-01-15 09:33] TrySound commented on #15
`State` treeshaking will be available after https://github.com/babel/babel/pull/6963 merge

[2018-01-16 17:49] souporserious opened #21 "Object.assign breaks IE 11"
![image](https://user-images.githubusercontent.com/2762082/35003573-1374cff4-faa2-11e7-92bd-9b12929b9e90.png)

IE11 seems to be blowing up from the use of `Object.assign`. I'm working on a PR to write the exports out explicitly for now. We could do something [like this](https://github.com/paypal/glamorous/blob/master/other/get-exports-code.js), but I think since these aren't written very much it s

[2018-01-16 19:03] #21 closed

[2018-01-16 21:22] renatorib opened #24 "Remove default export object"
As it's a breaking change we will leave to the 1.0 version

Discussed here https://github.com/renatorib/react-powerplug/pull/22

[2018-01-16 21:23] renatorib commented on #18
I don't like suffix, but I know this could be a problem.

[2018-01-16 21:34] TrySound commented on #18
I have thought a bit more. This is really unnecessary. I always forget about namespaces in esm, which are exists for such cases.
[code]

[2018-01-16 23:58] #18 closed

[2018-01-19 13:57] #24 closed

[2018-01-19 21:06] souporserious opened #32 "Compose events helper"
Would you consider adding a helper utility to help compose events if you want to use the same ones being used by a react-powerplug component?

A contrived example, but I'm using something like this right now:
[code]

[2018-01-19 22:14] souporserious opened #34 "rename inc -> increment, dec -> decrement"
Since we're breaking API's before 1.0 😇  how would you feel about renaming `inc` to `increment` and `dec` to `decrement` since the pattern of the other components all use full names? For example, `value` instead of `val`. I can submit a PR for this if you are on board, please let me know.

[2018-01-22 14:21] renatorib commented on #34
I like `inc` and `dec`... Maybe we can use it as an alias, what do you think?

`increment` and `decrement` as 'official' and `inc` and `dec` as alias

[2018-01-22 16:48] souporserious commented on #34
No worries! `inc` and `dec` are fine. I'd rather have only one way to do it.

[2018-01-22 16:48] #34 closed

[2018-01-22 22:03] souporserious commented on #32
Love it! Want me to add a PR? I should have time today or tomorrow.

[2018-01-23 14:38] Andarist commented on #15
I can only confirm that generally speaking flat bundling (what rollup does) is better than having a directory structure - it allows for easier tree-shakeability webpack (upcoming webpack@4 might get better at this, but anyway many, many users still use webpack 2 or 3).

There is no reason to allow for `package/submodule` imports (also setting this up in proper way is quite difficult and there is n

[2018-01-23 18:50] renatorib commented on #15
Thanks @Andarist!

I'll close this since v1 will not have a export default (https://github.com/renatorib/react-powerplug/pull/31), which will help with tree shaking.

[2018-01-23 18:50] #15 closed

[2018-01-23 18:55] renatorib commented on #32
@souporserious Feel free :D

[2018-01-27 01:46] farskid opened #39 "Mobile support on *Active* and *Hover* component"
For now, the `Active` component simulates active state on any HTML element by using `onMouseUp` and `onMouseDown` and `Hover` component uses `omMouseEnter` and `onMouseLeave` events.

The issue is on mobile devices. Mobile devices can control and simulate those behaviors by using events such `ontouchstart` and `ontouchend`. Right now, these components don't work on mobile devices.

I'd like to con

[2018-01-27 06:57] souporserious commented on #39
Sounds good 👍 If this is added, I think it should be toggleable in some way. It's nice to have an option of not having hover triggered on mobile. Maybe even a `Touch` component with touch event info? Then they can be composed together to make a `HoverTouch` component or whatever.

[2018-01-27 11:52] renatorib commented on #39
We will be happy to improve powerplug. Feel free to send PR!

[2018-01-28 14:46] farskid commented on #39
@souporserious @renatorib I like the idea of having a `Touch` component and compose it with `Hover`. I'll be working on a prototype of it and will discuss more when sent the first PR version. sounds good?

[2018-01-28 17:11] farskid commented on #39
@souporserious @renatorib I've created a component as @souporserious suggested. The idea of composing it with any other component sounds cool to me. Maybe we can discuss the ability to configure hover state on mobile?

[2018-01-31 12:43] gnapse opened #47 "Composing two of the same kind"
I realized this when trying to replace [my own render props composer](https://codesandbox.io/s/04w609rvz0) with the one in this library.

Imagine the following scenario:

[code]

Given that `Compose` uses the name of the component to build the props, I'm not sure if this is possible to compose.

[code]

If `Composed` passed the different props of the composed components as positional arguments to

[2018-01-31 21:47] souporserious commented on #47
Love this idea! I just saw something similar from James Kyle this morning https://twitter.com/thejameskyle/status/958683451078590465

![image](https://user-images.githubusercontent.com/2762082/35649180-148b5e52-068d-11e8-8bf6-b39923a2e663.png)

[2018-01-31 23:22] renatorib commented on #47
Yea, I like it. I already had this idea in my head for 1.0. I think it's the best way to compose without conflicts.

[2018-01-31 23:31] renatorib opened #48 "PowerPlug Website"
This issue will serve to discuss the powerplug website. It will only be closed when we launch it.

[2018-01-31 23:37] renatorib commented on #48
First of all, I like the idea of generating the docs page with md files as many do.
Also I like the idea of generating docs based on code comments (like JSDoc) but I'm afraid of taking flexibility.

My main idea is to have a _beautiful landing_ by interactively presenting powerplug concepts, etc. and having a separate docs page. (for example https://emotion.sh/ but with more content in landing). I

[2018-01-31 23:52] farskid commented on #48
@renatorib I'm really excited about this issue. I wanna be a part of it for sure and will help by throwing some ideas about the website and automated docs generation.
I love JSDoc as you do but I think it will limit you on some points. If there is an automated way of doing this that I'm not aware of, please share it.

A beautiful landing page will help in branding React-Powerplug even more. A rela

[2018-02-01 00:34] renatorib commented on #48
About logo, it was recently redone:

![image](https://user-images.githubusercontent.com/3277185/35654954-aba8bae8-06d6-11e8-805a-3b0642221706.png)

About docs:
I like separating docs in API Reference (more pragmatic, even generated), Guide (more developed, explanatory texts) and Recipes (tutorials, examples). I think Apollo did a great job doing this, can be a good reference (https://www.apollogra

[2018-02-01 00:59] renatorib commented on #39
Done

[2018-02-01 00:59] #39 closed

[2018-02-01 01:37] farskid commented on #48
Yeah, I think I agree with you. ApolloGraphql has done a very good job on the landscape for sure. even their design is satisfactory to me.

[2018-02-01 13:38] gnapse commented on #47
Do you want me to work on a PR? I already implemented this exact same functionality in the library I was using internally for this: https://github.com/gnapse/render-props-compose

[2018-02-01 15:08] renatorib commented on #47
If you want, feel free to send a PR! 😄

[2018-02-01 17:33] gnapse commented on #47
@renatorib can you explain to me what this phrase in the README means? I'm a bit lost about it:

It's at the end of the section of the README that talks about the composed components.

[2018-02-01 17:42] renatorib commented on #47
With `compose` function, when you do that
[code]

Is the same as doing this:
[code]

When Toggle state is changed, only Toggle component will rerendered.
But when Counter stated is changed, all inside it will be rerendered: Counter and Toggle.

Is nothing problematic or dangerous, it's just to document the behavior

[2018-02-01 17:44] gnapse commented on #47
Thanks, yeah, I had misread it a bit and hence I did not fully understand it.

PR submitted BTW, let me know how it's looking when you get the chance.

[2018-02-01 18:20] renatorib commented on #47
Sure! 😄

If you want to see it in action: https://stackblitz.com/edit/react-pe1ye3
Open console and click toggle button, after click counter button, and see the logs

I'll see your PR soon, thanks!

[2018-02-04 05:08] kentcdodds opened #52 "Compose using component names? What about uglify?"
Am I missing something? I feel like when components are uglified, their names will be changed and my compose will be broken... Shouldn't it instead be array position? Or I should name my components explicitely?

Either:

[code]

Or

[code]

Otherwise uglify is going to break this.

[2018-02-04 06:10] aulisius commented on #52
In the [compose util](https://github.com/renatorib/react-powerplug/blob/master/src/utils/compose.js#L20),

This
[code]

could be written as
[code]

This would preserve order and not depend on `Component.displayName`

[2018-02-05 07:34] renatorib commented on #52
It will be changed in #51. Master branch is unstable/development. Current stable version (0.1) don't use component names

[2018-02-05 07:34] #52 closed

[2018-02-06 17:13] gnapse commented on #52
BTW, it could support both positional arguments (as provided by #51) but it can also support named arguments, just not deriving the names from the components. I developed both capabilities in [render-props-compose](https://github.com/gnapse/render-props-compose).

I can try to re-create that approach here too, in #51.

[2018-02-06 17:40] renatorib commented on #52
I think it's best to keep only one.  IMHO, by array is the best solution

[2018-02-06 18:33] gnapse commented on #52
Yup, IMO that's the best option too.

[2018-02-13 21:44] TrySound commented on #6
@renatorib What is not done for 1.0? It's a bit frustrating to not use all new features we added.

[2018-02-14 13:08] #47 closed

[2018-02-14 14:54] TrySound commented on #6
@renatorib Congrats with 1000 stars!

[2018-02-14 16:11] renatorib commented on #6
@TrySound thanks! Congrats for us.
I published an alpha version ` react-powerplug 1.0.0-alpha.2 published 🎉` so we can use it while it's not 100% finished

[2018-02-14 16:29] TrySound commented on #6
There was alpha 1?:)

[2018-02-14 18:40] renatorib commented on #6
mistake :p

[2018-02-15 22:19] souporserious opened #56 "ShouldUpdate"
Do you think it would be beneficial to have a `ShouldUpdate` component? 🤔

I was reading through [these docs](https://github.com/atlassian/react-beautiful-dnd#recommended-droppable-performance-optimisation) and it seemed like it could be nice to have.

Not sure how this would even work. But could maybe look something like:
[code]

Might be better to just make another component honestly 😅 curious t

[2018-02-15 22:35] streamich commented on #56
This sounds interesting, because this way you the `when` function is dynamic, it can use any variables from the render method scope.

[2018-02-15 23:03] TrySound commented on #56
Just don't add lifecycles here. Such components will introduce a lot of mess and issue because everybody can use variables from scope. It's a kind of reacting programming, which is much harder and do not related to react. So let's just use class here.

[2018-02-15 23:15] streamich commented on #56
The whole `powerplug` repo is about inverting `.setState()`, maybe the proposed `<ShouldUpdate>` does not fit into this repo as it inverts a life-cycle method, but fundamentally I don't see a problem with it.

I actually even like this idea and thinking about adding it to my [inversion list](https://github.com/MailOnline/libreact/blob/master/docs/en/Inversion.md) right now.

[2018-02-15 23:32] TrySound commented on #56
It doesn't fit to react in a way you want. It's not possible to implement it good without internal react support.

[2018-02-16 01:17] streamich commented on #56
In fact it is just a generalization of `pure()` HOC. Because you of `<ShouldUpdate>` FaCC you create `shouldUpdate()` HOC:

[code]

And then you use that to create `pure()` HOC:

[code]

[2018-02-16 13:41] renatorib commented on #56
Hey @souporserious

As I said here #41 and here #43,

I like the idea of utilities to control lifecycles.
In fact, the powerplug was born of a need to simplify things. In the same way that I can facilitate state creation without having to create a class component, it would be interesting to facilitate the creation of these lifecycles quickly. I really appreciate the idea.

However, I think it goes

[2018-02-16 18:30] souporserious opened #57 "Compose refs helper"
I was curious if you had any ideas about some type of utility to help with composing multiple ref functions that could possibly be added to this library? I'm thinking it would be similar to the `composeEvents` function we talked about in https://github.com/renatorib/react-powerplug/issues/32.

I'm wondering if there is any way to memoize all the function calls so we can [avoid this caveat](https:/

[2018-02-16 19:22] streamich commented on #57
Maybe `React.createRef()` could help?

[2018-02-16 19:56] TrySound commented on #57
@streamich `createRef` is dead simple and not composable.

[2018-02-16 23:19] streamich commented on #56
Just call it:

- State Inversion
- Lifecycle Inversion
- Ref Inversion

[2018-02-19 04:58] souporserious commented on #56
[Looks like this has been done by Ryan Florence](https://github.com/ryanflorence/react-component-component) :). I'd rather just use a class now the more I think about it 🤷‍♂️

[2018-02-19 04:58] #56 closed

[2018-03-01 01:56] renatorib opened #60 "Proposal to standardize State Container components"
I noticed that many of them have a very similar behavior, and I end up having to repeat a lot of code for each one of them. I am always apprehensive when it comes to abstractions, but I believe that in many cases it is extremely useful. My idea is to create a helper to create these State Container components.

E.g.:
[code]

[code]

Even within more complex cases:
[code]

[code]

In this implementa

[2018-03-01 02:00] renatorib commented on #60
cc/ @TrySound @souporserious
I would love to hear from you about this.

[2018-03-01 05:49] TrySound commented on #60
I don't see so much boilerplate right now. And big concern against this is function factory instead of easily treeshakable function.

[code]

[code]

[2018-03-01 06:13] souporserious commented on #60
I agree with @TrySound. I personally like the second example he posted and don't see too much boilerplate right now.

[2018-03-04 11:35] TrySound opened #62 "Integrating state container to react"
Today Dominic posted gist with some future ideas. I think you will be interested.

https://gist.github.com/trueadm/35f083d32e5af93dd8fd706dae378123

/cc @renatorib @souporserious

[2018-03-05 19:47] renatorib commented on #60
🤔

Alright. I'll close this for now.
If anyone has any other related idea I re-open here 👍

[2018-03-05 19:47] #60 closed

[2018-03-05 19:52] renatorib commented on #62
Interesting.
I liked these factories... Particularly `React.createState(initialState)`.

This api will be implemented or are just "mind drafts"?
This `adopt` syntax is related to Async React?

[2018-03-05 20:06] TrySound commented on #62
It's just ideas. But you may help with your opinions and suggestions.

`adopt` syntax is not related to async. It's just sugar for children as function. It can solve nesting problem like `async/await` does with promises.

`createState` is nice however I have a lot of cases with settings defaults from props. Probably `deriveState` can help here but in more verbose way.

[2018-03-12 13:51] renatorib opened #68 "Integrate another CI"
I was using buddy, but it have some limitations. I need to find & integrate another CI (circle, travis, etc.) that covers our needs

[2018-03-12 14:01] TrySound commented on #68
travis is simple.

[2018-03-12 21:58] #68 closed

[2018-03-16 05:57] TrySound commented on #57
https://github.com/reactjs/rfcs/pull/30#issuecomment-373577382

[2018-03-23 03:40] renatorib commented on #62
I saw that he keep working in this idea (& adopt) in this new gist https://gist.github.com/trueadm/17beb64288e30192f3aa29cad0218067

For now I'll close this issue just to clean up, but I'll keep my eyes on it! Maybe we can take some of their ideas and apis to powerplug!

I'm loving the fact that the react is implementing render props internally in their apis

[2018-03-23 03:40] #62 closed

[2018-03-23 03:58] renatorib opened #70 "Refactor components' `onChange` to match same `initial` type"
I find it very inconsistent that you pass `initial={boolean}` to `<Toggle>` and onChange fires with `{on: boolean}`.
I think onChange should call with the fundamental component's state

Toggle -> boolean (on)
Counter -> number (count)
Value -> any (value)
List -> array (list)
Hover -> boolean (isHovered)

Example:
[code]

etc...

[2018-04-11 01:31] renatorib commented on #32
Fixed in #71

[2018-04-11 01:32] #32 closed

[2018-04-11 02:15] renatorib commented on #57
I think `composeEvents` (#71) can handle multiple refs as well.

[code]

If someone wants to contribute a caveat solution say here that I reopen this issue. :v:

[2018-04-11 02:15] #57 closed

[2018-04-11 06:36] souporserious commented on #57
Nice! Looks like it's working great [here](https://codesandbox.io/s/4850kr7vjx) 🤘. Wonder if `composeProps` might be a better name since it can apply to more than events, thoughts? 🤔

[2018-04-20 07:57] jamescrstnwork opened #84 "Documentation note about stable branch is not clear enough"
Toggle documentation has misleading property `set`, actually it is `setOn`

[2018-04-20 07:59] TrySound commented on #84
@jamescrstnwork Documentation is right.

https://github.com/renatorib/react-powerplug#%EF%B8%8F-master-is-unstable

[2018-04-20 08:04] jamescrstnwork commented on #84
@TrySound no its not, I tried , set method comes as undefined.
I looked into the code and changed it to `setOn` now it works.

[2018-04-20 08:05] TrySound commented on #84
Okay, another link https://github.com/renatorib/react-powerplug/blob/master/package.json#L3

/cc @renatorib The message is still not clear.

[2018-04-20 08:13] jamescrstnwork commented on #84
ohk, I got it.
Its in the stable branch 1.0 : [https://github.com/renatorib/react-powerplug/blob/0.1-stable/src/components/Toggle.js]

[2018-04-24 03:10] theKashey opened #86 "TypeScript definitions"
I know that supporting all type systems is a hard work, but without them life is not so sweet.

I am happy to make a PR, but you have to decide:
 - you are happy to ship d.ts along library, so lets add them here.
 - types is the right place for types, so please _definitely_ publish them.

I'll prefer the first way, but it is up to you.

[2018-04-24 04:14] renatorib commented on #86
I use typescript in my job and I think of typing powerplug every day! The problem is that I have little time available, and I can only give attention to some issues / pr and work on a features for 1.0 rarely.
But it would be great to support typescript, including I would love to help with somebody's initial work. :smiley:

[2018-04-24 06:35] theKashey commented on #86
@renatorib - that's I want to hear.
I already have to partially cover powerplug with typedef, so I'll just finish that move.
Porting from Flow to TS is a straightforward action.

[2018-04-24 15:47] lucasconstantino commented on #48
Honestly, Apollo's docs are quite a mess to me. Full of nice information, but not well organized - even after the docs recent rewrite. The site design, though, is quite a good showcase.

I think powerplug is a much more straightforward lib to have issues with organization. A simple repl alongside the docs for each component should do a great job already.

[2018-04-24 15:55] lucasconstantino opened #87 "What kind of components should this lib have?"
Have you guys draw a line on what kind of components this lib should have? I have plenty of possible things that could come here and are already developed, but I'm unsure they fit this lib's purpose. Some:

_Promised_
[code]

_MatchMedia_
[code]

[2018-04-24 16:03] renatorib commented on #48
I quite agree that apollo docs is too much for our case. PowerPlug 99% more simple than Apollo indeed.
I mentioned apollo docs because I really like what they do creating that guide/recipe.

The powerplug api is very very simple. A documentation page/site would be too small, simple. However I believe there are many usecases that can be addressed.

[2018-04-24 17:25] TrySound commented on #87
I would prefer `react-measure` over media queries to isolate components.

Data loading is too complex problem for one component. There still will be suspense soon which is much more powerful.

[2018-04-24 17:29] renatorib commented on #87
The idea was born in a pain of writing storybook stories for dumb components.
So, the first component ever was `Toggle`.

Instead of creating a new class component just to control some UI states (I used to use recompose `withState`), it become much more simple:

[code]

Then I had the idea of creating components that coverage more usecases in the same problem. Now I had `State`, `Toggle`, `Counter

[2018-04-24 17:31] TrySound commented on #87
@renatorib Recompose maintainer is happy with powerplug too. :)

[2018-04-24 17:34] renatorib commented on #87
To ask your question about `MatchMedia/Promised`. I believe that this `MatchMedia` is not so generic, and `Promised` maybe not simple (I'm not sure in that case)

[2018-04-24 18:09] lucasconstantino commented on #87
I totally agree with the opinions on both `MatchMedia` and `Promised`, but my point here is not to suggest these components but rather discuss what should really be on the lib, in a broader perspective.

I remember when `recompose` first started that many people were arguing about the amount of options `recompose` provided, mostly due to the fact that most of the helpers can be easily built with t

[2018-04-28 03:38] theKashey opened #89 "onChange bubbling"
Having code:
[code]
When I will call `set` on internal Value it will set that value, and call onChange handler.
onChange handler will be called with `{value}`, not `value`, as long onChange is a State property.

Result: value on topmost Value will be `{value}`.

Proposal: onChange on any component should emit `value` of that component unchanged. As it will be presented to the consumer.

[2018-04-28 09:12] TrySound commented on #89
@theKashey Do you mean this one?
https://github.com/renatorib/react-powerplug/issues/70

[2018-04-28 10:40] theKashey commented on #89
@TrySound, yeah. Duplicate.

[2018-04-28 10:40] #89 closed

[2018-05-03 20:25] renatorib commented on #84
I do not see how the message can be clearer. Unfortunately we will still have this problem until 1.0 is released.

If anyone has any suggestions on how to make the message clearer without taking the focus off the rest, feel free to send a PR!

Thanks!

[2018-05-03 20:25] #84 closed

[2018-05-03 20:30] renatorib commented on #87
I understand your point @lucasconstantino, and I totally agree too.

I believe that there is still something very clear, although the points I have already clarified are a good clue.
For now it will pass through a filter of mine and the people who collaborate here, until we can have something more concrete.
But thank you very much for raising this topic, which in my view is extremely important.

<

[2018-05-03 20:30] #87 closed

[2018-05-05 10:58] TrySound commented on #70
@renatorib added test for all components except `Form`. Can you take care of it? And we could start working on this api change.

[2018-05-07 22:06] renatorib commented on #70
Thanks @TrySound, these tests will help a lot!
Actually I already started to do but I did not pushed anything yet

[2018-05-07 22:46] theKashey commented on #70
+1
This change should be made.

[2018-05-10 12:24] akoenig opened #102 "Form values are empty"
First of all: Thanks, @renatorib for building `react-powerplug`. It is a masterpiece!

I found a tricky scenario when using `powerplug` with [react-adopt](https://github.com/pedronauck/react-adopt) though. Curious to hear your thoughts on this. Not sure if this is really a bug. Consider the following example:

[code]

The `console.log(form.values);` is always `undefined`, whereas printing the inpu

[2018-05-10 16:47] renatorib commented on #102
Hey @akoenig, thanks for your compliments :)

I suspect you're using version `0.1.x` of powerplug, that does not have `values` api. Form `values` was added in `1.0` (master branch) which is in the alpha phase (1.0.0-alpha.4)

[2018-05-10 17:00] akoenig commented on #102
@renatorib Autsch, true story, my fault :) Closing here.

[2018-05-10 17:00] #102 closed

[2018-05-10 17:28] renatorib commented on #102
No problem! Actually It's our fault. People always get confused (#84, #85) and I'm not exactly sure how to improve this communication

[2018-05-29 08:17] KaRkY opened #109 "Can not get alpha to work"
Hello,

I am testing the alpha release and can not get it to work I am always getting:
Warning: State(...): No `render` method found on the returned component instance: you may have forgotten to define `render`.

[2018-05-29 09:21] TrySound commented on #109
@KaRkY Show your code. Which version of react do you use?

[2018-05-29 09:40] KaRkY commented on #109
I am using 16.3 and create react app. Also I am using Material-ui and [UniversalComponent](https://github.com/faceyspacey/react-universal-component). Maybe this has something to do with it? I tries stable and that one works.

My code:
[code]

Stacktrace:
[code]

[2018-05-29 09:57] KaRkY commented on #109
No problem same result in codesandbox: https://codesandbox.io/s/7407vz4prx

[2018-05-29 15:20] renatorib commented on #109
It's really weird. I don't have any idea why it's happen.
If you want to use 1.0 alpha, you could use `1.0.0-alpha.4`. I've tested and it's working.

[2018-05-29 18:44] KaRkY commented on #109
I looked into esm file what is the difference between alpha 4 and 6 and I suspect that `_inheritsLoose(State, _Component);` is the problem. In alpha 4 it is at the begining and in 6 it is at the end (I used compare tool to see the diferences). As far as I can see this line overwrites prototype property an render method is lost.

I do not know why this has happened.

[2018-05-30 19:09] ianstormtaylor commented on #6
@renatorib any idea when `1.0` will land? This library is really nice 😄 thank you!

[2018-05-30 19:15] TrySound commented on #6
Soon. The latest breaking change is under review

[2018-05-30 19:40] ianstormtaylor opened #110 "add `reset/resetState`?"
Hey, thanks for this great library!

I find myself setting `initial=` values, updating them over time, and then performing an action at a certain point. And then, often after performing the action I need to "reset" the values to their `initial` state again, to build towards another action.

It would be nice if in addition `set(value)`, the components were passed a `reset()` function as well that a

[2018-06-01 14:52] TrySound commented on #109
@KaRkY Sorry for delay. I published alpha.7. Can you check?

[2018-06-01 15:20] renatorib opened #111 "Add all-contributors"
Ref: https://github.com/kentcdodds/all-contributors

[2018-06-01 15:53] KaRkY commented on #109
It works now thanks and no problem with the delay this things take time.

[2018-06-01 15:53] #109 closed

[2018-06-01 18:37] renatorib commented on #110
I like that reset api. To State Containers I think it makes sense.

The reason for the setState to be different from the others, is that users are already comfortable with state / setState of a common component. In fact, State's setState works exactly like the setState of a component.

Before, the set functions were more semantic `<Value>{({ setValue })}</Value>`, `<List>{({ setList })}</List>`. B

[2018-06-01 19:13] TrySound commented on #110
Here's how I usually use things
[code]

Unified fields work good with specific containers. State container in opposite is generic and can't have specific name. I use it always like this

[code]

[2018-06-01 20:22] renatorib commented on #110
Thanks for your point @TrySound!
What you think about `reset`?

[2018-06-01 20:59] TrySound commented on #110
I'm not sure. It can be implemented easy by hoisting initial value. However this value can be changed with a time and I'm not sure what is the right thing to set the new one or the first one. It depends on user requirements. I didn't have such use case tbh. It looks too opinionated.

[2018-06-01 22:17] ianstormtaylor commented on #110
How is to "too opinionated"? It's a nice convenience that the library can make extremely easy with minimal logic, or everyone can reinvent themselves with the logic spread out over many places. I think anything that exposes `initial` and `set` should also expose `reset`.

Otherwise resetting the state will always involve either duplicating the `initial` value in both places... or being forced to s

[2018-06-01 22:31] ianstormtaylor commented on #110
@renatorib that makes sense about the `setState` vs. `set` distinction. I think it might be worth adding a `set -> setState` alias for consistency personally, but that's your call.

The way I'd thinking about it is that it's good that everything is always `set` for consistency. But then that the `<State>` component happens to offer a `setState` alias, for people who are used to that, and for makin

[2018-06-01 22:35] TrySound commented on #110
Aliases are a bad for api design. It means we can't decide how feature should be used. There should be only one way to do things.

[2018-06-02 03:47] renatorib commented on #110
I agree with @TrySound about aliases things.
I also agree with @ianstormtaylor with `reset` as a good convenience. Powerplug is primarly about convenience.

I'm not going to make a decision now, but I'm really thinking of implementing the `reset()` in the near future. As it is not a breaking change, I believe it might be in a minor of 1.x. I really do not want to create any more changes for the 1.

[2018-06-02 04:35] #111 closed

[2018-06-04 14:50] #70 closed

[2018-06-04 14:57] TrySound commented on #6
I'm thinking about is* fields. Most of the time I see in a code it's used as a function name. So the current choice may be confusing. What do you think if we will make one more breaking change with this renaming?

isActive -> active
isFocused -> focused or focusing
isHovered -> hovered
isTouched -> touched

For the same reason we don't call Toggle `on` as `isOn`

[2018-06-07 15:10] TrySound commented on #6
@renatorib what do you think?

[2018-06-07 17:03] renatorib commented on #6
I think its better! We can change it

[2018-06-08 10:50] xialvjun opened #119 "[feature request] add name props to State and Value, and maybe some other components."
**Current Behavior:**

[code]

**Expected Behavior:**

[code]

[2018-06-08 11:45] TrySound commented on #119
State component mirrors react component api. We would like to keep it like this. For all another components we recommend to use namespace.
[code]

[2018-06-08 12:40] xialvjun commented on #119
Yeah。。。

Strange, why I forgot to not extract the obj ?....😅

[2018-06-08 12:40] #119 closed

[2018-06-08 15:28] TrySound commented on #6
I think the API is stable now. @renatorib let's release `rc.0`?

[2018-06-08 23:47] ianstormtaylor commented on #110
FWIW, this tweet kind of sums up the reasoning behind my alias argument: https://twitter.com/sebmarkbage/status/1005162462486900737

I still think that every component should expose `set` as the "canonical" prop name. And then specifically the `<State>` component should expose that same function as `setState` with an alias.

By calling it `set` (and `reset`) on every component, you get consistency

[2018-06-09 13:05] sandiiarov opened #120 "FEEDBACK CONTAINERS are not working"
## Bug Report

**Current Behavior**
FEEDBACK CONTAINERS are not working

**Input Code**
https://codesandbox.io/s/xolmxkn7lq

**Environment**
- react - 16.4.0
- react-dom - 16.4.0
- react-powerplug - 1.0.0-alpha.7

[2018-06-11 16:32] renatorib commented on #48
I started working on it. If anyone has any suggestions, please tell here =)

[2018-06-11 16:42] renatorib commented on #6
Nice

[2018-06-15 09:46] jeetiss opened #123 "bug with compose"
on each parent rerender swaps props in children component

[example](https://codesandbox.io/s/py84vwo43m)

[2018-06-15 14:33] #123 closed

[2018-06-18 14:48] LinusU commented on #86
@renatorib

Would you be interested in porting the entire lib to be written in TS? I'd be happy to do it if it's desirable 🙌

[2018-06-19 05:07] xialvjun opened #126 "add Ref with react ref api"
[code]

[2018-06-19 14:49] renatorib commented on #86
@LinusU I appreciate your disposition to help, I think personally I prefer typescript, but I do not think it's a good idea thinking about open source. I think it can close doors for other people who want to contribute... maybe flowtype could be a better idea, but I'm also resilient.

What you think?

[2018-06-19 14:55] LinusU commented on #86
I can definitively see this argument. Personally, I think it's especially the overhead of having a build system at all. I usually write my packages in JavaScript and stick a definition file in them, just so that there is no barrier to working with the package.

I'm not sure why it would be better with flow? 🤔

I don't have any strong feelings, I just offered my help since it sounded like you maybe

[2018-06-19 15:02] TrySound commented on #86
Flow will require less code changes, less annotations and won't require renaming.

[2018-06-19 22:57] theKashey commented on #86
- Library in JS -> have to write d.ts, may write .flow
- Library in Flow -> have to write d.ts
- Library in TS -> may write .fow

So TS has fewer borders and requirements.

[2018-06-19 23:12] TrySound commented on #86
I don't get. What do you mean by "may"?

[2018-06-19 23:20] theKashey commented on #86
Flow is fully functional without type definition for a library. But TS - not really.
You can always dropin some custom typings, spreading `any` unto it, but that does not always work.
In some conditions `any` could be converted to `{}`, not letting you to do anything, and you will have   to use `as any`, again, and again.

TS without right d.ts is a 💩, while Flow is 🍔.

You _MAY_ not ship Flow typ

[2018-06-20 07:02] TrySound commented on #86
What will change if we will generated TS definitions from flow types?

[2018-06-20 07:55] theKashey commented on #86
So, actually after I wrote that sentence, and I wrote it cos Gasby did it, I've tried to convert some by TS-only libraries to flow.
9 hours later it still does not work.

[2018-06-20 07:58] TrySound commented on #86
What exactly doesn't work?

[2018-06-20 08:00] theKashey commented on #86
Exact types, default exports, "React types" itself (they are not portable).
TS and Flow are 95% equal, but rest 5% could be a pain in the ass.

[2018-06-20 08:07] TrySound commented on #86
I thought ts has exact types by default. React.Node -> `React.ReactNode`. What's else? ComponentType I see from your PR is the same.

Heh, default exports doesn't work. It's the problem of TS which can't work with esm/cjs interop and requires this legacy [s**t](https://github.com/jamiebuilds/create-react-context/pull/20/files).

[2018-06-20 08:52] xialvjun commented on #6
more complete `Form`?

[code]

**or even a breaking change**

[code]

[2018-06-20 14:56] renatorib commented on #86
@LinusU

I think both are barriers to contributors, but I think typescript might scare you more than the flow. I mean, flow is just javascript with static types. Is less strict than typescript.

However, I'd rather leave code in javascript and keep typings separated. People can contribute without know flow/ts, and other people can add types. No closed doors.

[2018-06-22 17:03] #86 closed

[2018-07-01 21:33] TrySound commented on #6
@xialvjun Rise an issue please

[2018-07-02 02:08] xialvjun opened #132 "[feature] boolean checkbox support in <Form />"
more complete `Form`?

[code]

**or even a breaking change**

[code]

[2018-07-02 21:40] alexkrolick opened #133 "Nested properties in Form"
It would be cool if form elements could bind to values like `user.name`, similar to https://github.com/developit/linkstate#how-it-works

I might take this on if it sounds like an API you'd want

[2018-07-02 21:42] TrySound commented on #133
@alexkrolick How's it different from spreading `.bind`?

[2018-07-02 21:44] alexkrolick commented on #133
if the form value is ```js
{
  user: {
    name: 'I am a nested value'
  }
}
[code]

[2018-07-02 21:47] TrySound commented on #133
Could you provide and example how this api could look like?

[2018-07-02 21:50] alexkrolick commented on #133
[code]

[2018-07-02 21:58] TrySound commented on #133
I wouldn't like to add path getters to powerplug api. They are not statically analyzable in ts/flow. We already have dead (for me) `compose` helper. Type safety is important criteria for this project.

[2018-07-03 14:53] renatorib commented on #133
Hey @alexkrolick, it solves your problem? I can close the issue?

[2018-07-03 18:48] alexkrolick commented on #133
Yeah I'll just go with that. Might be worth documenting that approach as an example since it enables a lot more complex forms to be built.

[2018-07-03 18:48] #133 closed

[2018-07-03 21:45] renatorib commented on #133
Sounds good!

[2018-07-03 21:45] pedronauck opened #134 "<Debounce /> and <Throttle /> component"
Everytime that we need to make a debounce or a throttle on some method the process is very annoying. I think that maybe this two components can be useful:

[code]

[2018-07-04 14:26] rockmandash opened #135 "[Feature Request] Integrate with HOCs."
Hello, first of all, thank you for this wonderful library.
This library and **react-fns** are my **favorite** librarys!
However, it's often to run into some situations that you need to access some property in lifecycle hoods that react-powerplug provides you.
If we can have HOC, the code will become much nicer like this.
[code]
Thank you!

[2018-07-04 14:33] TrySound commented on #135
Just wrap with component. This will prevent you from props pollution/overriding and will provide you type safety.
[code]

[2018-07-04 14:38] rockmandash commented on #135
Thank you for your fast reply!
Yes, HOC can't do the example you provide.
Learned a lesson!

[2018-07-04 14:38] #135 closed

[2018-07-11 15:07] renatorib commented on #134
@pedronauck can you show me a use case?

[2018-07-11 18:45] pedronauck commented on #134
Really, just using a debounce/throttle method like a lodash helper solve the problem. The point is to be able to do that without any other dependency. I can have some state on my component just by using a class component, but using your `<State>` is more quick and easy. In my head, you can implement [your own debounce throttle](https://medium.com/@griffinmichl/implementing-debounce-in-javascript-e

[2018-07-11 18:50] renatorib commented on #134
I got yout point, but I think its more simpler to manage your debounce/throttle by yourself:

[code]
vs.
[code]

[2018-07-11 18:54] pedronauck commented on #134
Really, good point 🙏

[2018-07-11 19:03] TrySound commented on #134
@renatorib Isn't this leaky? Just never tried to fit debounce to render in my mind.

[2018-07-11 19:17] renatorib commented on #134
🤔 Yeah, maybe.

I tried here and debounce worked (don't know about perf). But throttle doesn't.

[2018-07-11 19:20] TrySound commented on #134
Yep. There should be persistent state for timers.

[2018-07-12 02:00] alidcastano opened #137 "make typings of children/render prop optional to allow composition"
Right now you either have to have a `render` or `children` prop

[code]

So you can't do this:

[code]

[2018-07-12 03:18] xialvjun commented on #134
As to `Debounce` or `Throttle`, I think `Lifycycle` is much more common:

like in https://github.com/xialvjun/xialvjun.github.io/blob/master/_posts/2018-05-22-react-render-props.md
[code]

So, a `Debounce` is just:
[code]

[2018-07-12 11:33] alidcastano commented on #137
It worked with react-apollo, so maybe use the types they use?

[2018-07-12 11:39] TrySound commented on #137
I don't see they use anything special.

@pedronauck could you clarify how `adopt` can work with apollo and not work with powerplug?

[2018-07-12 13:04] alidcastano commented on #137
Ah you're right, they basically enforce children  prop as well

[code]

I was wrapping my queries/mutations which is why the error wasn't appearing

Hmm I wonder if anything can be done about this

[2018-07-12 13:40] TrySound commented on #137
React team works on this problem. They probably will suggest a custom syntax like this, so type systems could solve the problem on syntax level.
[code]

[2018-07-12 14:08] pedronauck commented on #137
We don't care about the component type definition, this should be a components concern. When something like this happens to me, usually I change the `children` to be an optional type:

[code]

So, of course, this can be leaky for powerplug!

[2018-07-12 15:21] alidcastano commented on #137
Ok, so wrapping them or passing render prop is way to go given limitations of typings

[2018-07-12 15:21] #137 closed

[2018-07-13 14:55] renatorib commented on #132
I like the ideia.

`<Form> input()` tends to have the same api as `<Input>` to consistency.
So I think is a good idea to have `<Checkbox>` also and `<Form> checkbox()`.

What you think?

[2018-07-16 20:36] TrySound opened #138 "FocusManager fails with buttons in safari and firefox"
We need to find some solution to work around it both safari and firefox

Ref https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#Clicking_and_focus

Example
[code]

/cc @souporserious

[2018-07-16 20:56] souporserious commented on #138
I like the idea of using `onMouseUp` and `event.preventDefault`. Maybe we can try that for now and see if anything weird comes up? I can't think of anything off the top of my head that using `onMouseUp` would break 🤔.

[2018-07-17 07:44] TrySound commented on #138
`onMouseUp` doesn't work for me. I came to this solution after discussion with you
[code]

[2018-07-17 08:48] TrySound commented on #138
Here's reproducing example. The problem now is iphone. My friend said blur doesn't work. After clicking at button test became focused and then nothing happend after clicking to whitespace.

https://codesandbox.io/s/ppy6kv0w67

I don't have iphone to test. @souporserious could you take a look?

[2018-07-17 17:13] souporserious commented on #138
I had a little bit of time to look at this, but I'm not sure the best route to fix this 😞. I was able to get it working by listening to `touchstart` then removing it on blur, but it feels super gross 🤮.

https://codesandbox.io/s/j2jx97422v

[2018-07-17 17:42] TrySound commented on #138
Yep, looks not the best. Even pointer events are not supported by safari :(

[2018-07-17 17:57] TrySound commented on #138
@souporserious What if we will add `cursor: pointer` on documentElement or body on mouse down? At least for safari.

[2018-07-17 21:22] souporserious commented on #138
Hmm not sure what you mean by `cursor: pointer` 🤔. Are you talking about styling?

[2018-07-17 21:36] TrySound commented on #138
Yes, `style="cursor: pointer"` on html or body could enable clickability and probably `blur`.

[2018-07-17 21:36] TrySound commented on #138
Yes, `style="cursor: pointer"` on html or body could enable clickability and probably `blur`.

[2018-07-17 21:54] souporserious commented on #138
Oh interesting! I didn't know Safari would catch clicks if you add `cursor: pointer`. I'll try and investigate more when I get some time.

[2018-07-18 06:32] xialvjun commented on #132
I don't make sense of what you mean.

[2018-07-19 23:35] egoarka commented on #126
Check this out: https://codesandbox.io/s/4z26pmkp87
not sure that it is safe to use

[2018-07-20 08:56] xialvjun commented on #126
No, you should not use SFC.
Use Component instead.

[code]

And besides, **another feature request**:

[code]

`Instance` is not only a `Multi Ref Component`, in fact, with it, we can do everything, like `cache previous state, define lifecycles`...

[2018-07-20 09:48] TrySound commented on #126
I'd say you should go with classes :) Component instance is bad abstraction because implementation detail is part of the api.

[2018-07-23 02:21] xialvjun commented on #126
@TrySound you are talking about `Instance` component?
But to write a Component Class, I need to go out of JSX, write the class, then use it in JSX.
With `Instance` component, I can just write it in JSX.

Why I think `just write in JSX` is important?

Because `write a class` is much harder than `write a vnode`: well, `write a class` is not hard, but compared to `write a vnode`, you'll feel it much

[2018-07-23 10:41] TrySound commented on #126
I know it's hard, but mutable instance with methods as first class citizen is not the best api for immutable tree. Instance has a lot of stuff which is implementation detail in context of render prop. I would prefer to mutate state with values you need.

[2018-07-23 23:13] jedwards1211 opened #141 "implement defense of dot js-style poly package structure?"
Hi guys!
I recently learned a bunch of stuff about how to reduce webpack bundle size while supporting SSR, and I've been making PRs to some of my favorite packages to support this (just got one merged in `redux-form`: https://github.com/erikras/redux-form/pull/4123)

Would you guys be open to a PR for the same here?  I admit I don't know as much about the relative advantages of the rollup build yo

[2018-07-24 00:17] jedwards1211 opened #142 "webpack doesn't seem to be able to tree-shake the rollup bundle, I analyzed some webpack builds..."
I think we need to do some more investigation of this.  I profiled my webpack production build after adding the following single import:

[code]

As seen in the webpack analyze tool, All 22 KiB of `react-powerplug` got bundled up:  (**EDIT**: I need to check if this is actually the size of the code in the bundle or just the input file size.  It's not clear from the webpack analyze tool...)

![imag

[2018-07-24 02:49] rockmandash opened #143 "[Feature Request] <Tabs /> component for Tabs or Carousel."
Hello, first, thank you for this wonderful library!
I want to ask if we can have a <Tabs /> component for Tabs or Carousel usage.
For example:
[code]
Infinite prop is if I am in C, and I trigger inc(), I will be A.
Thank you!

[2018-07-24 08:10] TrySound commented on #143
This logic is usually encapsulated inside tabs and inside carousels. It can be quite specific. This lib is more about state management and dom interaction than ui stuff. This logic is not so hard to write by hands and then add own nice features
[code]

[2018-07-24 08:22] TrySound commented on #141
Does webpack supports `modules.root` field? Rollup does not support it. And won't. There's enough proposals for esm. It's better to use existing popular solutions which works well than inventing new one every week.

And this is not treeshaking `import State from 'react-powerplug/State.js'`. You may call it cherry picking.

Treeshaking is static analyses which allows to introduce only necessary mod

[2018-07-24 08:34] TrySound commented on #142
Just create local project with
[code]

[2018-07-24 08:36] TrySound commented on #142
Just create small project with
[code]

run webpack and then prettier on dist. You won't find there `list` of `focus` words which exist in powerplug.

[2018-07-24 08:37] TrySound commented on #142
Just don't use broken services. Check by yourself. It's simple.

[2018-07-24 08:41] TrySound commented on #126
Show me the case please

[2018-07-24 09:01] rockmandash commented on #143
Wow, thank you for showing me this trick!

[2018-07-24 09:01] #143 closed

[2018-07-24 09:23] xialvjun commented on #126
Code in https://github.com/renatorib/react-powerplug/issues/126#issuecomment-406535377 showed the case.
Copy it here:

[code]

[2018-07-24 09:51] TrySound commented on #126
It's okay to mutate state.
[code]

Or if you don't want to mutate state you may create mutable object on instance. Just don't pass instance with all its methods. Operate with data only here, mutable and immutable.

[code]

[2018-07-24 10:23] xialvjun commented on #126
Well, it's a debate between two API offering philosophy: `I offer these apis because I can` and `I offer these apis because you just need them`.

In fact, I don't know which philosophy is better... -_-!!!!

Component `Mutable` is OK.

Choose which one you feel comfortable. :)

[2018-07-24 16:03] jedwards1211 commented on #141
Well shoot, I'm now having trouble finding concrete documentation of whether Webpack supports `modules.root`, though I don't think I would have wound up believing it does unless I found that somewhere...I'll check on that and get back to you.

In packages that do publish multiple modules, I think the advantage of cherry picking with a Webpack build is that if I `import {Foo} from 'bar'`, even if W

[2018-07-24 16:06] jedwards1211 commented on #142
The screenshot from `webpack.github.io` is just from their analyze tool which shows results from the output of `webpack --stats --json` that I ran locally on my machine with webpack 4.12.0.

I opened this issue to soon, I'll do more digging in my own build and try to figure out what my issue is.

[2018-07-24 16:06] #142 closed

[2018-07-24 16:06] TrySound commented on #141
Yep, that's the point of using rollup. It produces clean and readable output which even does not require sourcemaps.

[2018-07-24 16:08] jedwards1211 commented on #141
@TrySound it does still support sourcemaps though if I want to use them right?  For instance I would find it handy to be able to navigate to the sourcemapped `react-powerplug/src/Toggle.js` in the browser.

[2018-07-24 16:10] jedwards1211 commented on #141
Do you know for sure if Webpack code splitting works well on rollup bundles?

For instance if my chunk A does `import {Toggle} from 'react-powerplug'` and my chunk B does `import {Interval} from 'react-powerplug'`, will webpack put only the code for `Toggle` in chunk A and only the code for `Interval` in chunk B?  I would be worried that `Toggle` and `Interval` would both wind up together in a thi

[2018-07-24 16:15] TrySound commented on #141
Yep, webpack includes both Toggle and Value in both bundles. It's webpack bug.

[2018-07-24 16:30] jedwards1211 commented on #141
Looks like it, I was experimenting with their optimization settings like `mergeDuplicateChunks: false` but haven't found anything that affected the output.  I'll file an issue in webpack

[2018-07-24 16:30] #141 closed

[2018-07-24 16:47] jedwards1211 commented on #141
It could definitely be because webpack decided the amount of code was so small that it wasn't worth splitting into separate chunks, but I need to get a definitive answer from the webpack team.

[2018-07-24 16:50] jedwards1211 commented on #141
https://github.com/webpack/webpack/issues/7780

[2018-07-24 18:24] jedwards1211 commented on #141
Actually which version of we pack are you using?

For me it included both `Toggle` and `Interval` in one chunk, not both chunks.  (But as I mentioned, what I really want is for it to include `Toggle` in one chunk and `Interval` in the other.)

[2018-07-24 19:19] TrySound commented on #141
In the latest version I get both toggle and interval included in both chunks. That's I meant as webpack bug.

[2018-07-24 19:20] TrySound commented on #141
One chunk have both exports and another one too.

[2018-07-24 19:31] jedwards1211 commented on #141
Do you mind sharing your test code?

[2018-07-24 20:46] TrySound commented on #141
[code]

[2018-07-24 21:53] jedwards1211 commented on #141
I see.

I suppose this may not be a bug, probably in this case webpack decides the amount of code is small enough that it's worth duplicating instead of async loading a separate chunk.  So far I haven't been able to tweak the settings to get it to split the `react-powerplug` deps, but maybe I'll figure it out.

[2018-07-24 22:07] jedwards1211 commented on #141
What are your thoughts on releasing source maps for the rollup bundles published with a package?  I know that the code in the rollup bundle is easy to read, but I don't like the thought of having to do a bunch of Ctrl-F in the debugger to locate the specific code in a dependency that I'm looking for, versus being able to jump to the source module in a dependency with Ctrl-P.

[2018-07-30 07:23] maciejmyslinski opened #144 "Toggle documentation outdated"
Toggle gives `setOn` function, while documentation states `set` function.

[2018-07-30 07:57] TrySound commented on #144
https://github.com/renatorib/react-powerplug#%EF%B8%8F-master-is-unstable
Install `react-powerplug@next` to use new api.

[2018-07-30 18:32] #144 closed

[2018-08-06 01:42] sandiiarov opened #147 "Warning: The prop `children` is marked as required"
When I try to compose components with `PropTypes.children.isRequired` then I see this annoying warning.

<img width="885" alt="screen shot 2018-08-05 at 8 36 36 pm" src="https://user-images.githubusercontent.com/15861257/43692706-4b189d46-98ef-11e8-8130-71ca8071a499.png">

The temporary solution is not looking good:
[code]

[2018-08-09 23:48] istarkov commented on #110
IMO reset is needed, imagine following (of course bad ;-)) code.

[code]

here is simple reproducible example of a problem, even without async

https://codesandbox.io/s/54nyo0r78p

If I click inc, then send to server the console output is:

[code]

[2018-08-10 16:58] istarkov opened #152 "Currently is a pain to edit flow files in a project"
TODO:  Pick eslint flow config here #148

[2018-08-10 16:59] istarkov commented on #152
Example
![image](https://user-images.githubusercontent.com/5077042/43970933-e45b5f66-9cd7-11e8-85be-80dd990779a1.png)

[2018-08-10 22:53] renatorib commented on #152
cc @TrySound
I share this pain :joy:

Just to complement, I'm thinking in maintain only TypeScript declarations and generate flow using https://github.com/joarwilk/flowgen. What do u think?

[2018-08-11 07:27] TrySound commented on #152
I'm sure flowgen won't be handle our new form types.

[2018-08-13 10:16] fea17e86 commented on #134
I actually wrotea little Debounce component: https://github.com/fea17e86/react-beco. I just realised that this issue was open.

[2018-08-13 10:25] fea17e86 opened #159 "Why are there no control props for the state management components?"
I was wondering why components like State, Toggle and Value accept an initial value but don't accept a controling value?

Something like this:
[code]

**Why do you need that?** I used `State` to represent the state of a form, which was initially populated by an object. Next the differrent form components would modify the local `State`. And in the end that `State` would be submitted to the remote A

[2018-08-13 10:50] TrySound commented on #159
If you want to control your components then you don't need intermediate state. Just pass data directly to your components. The idea of this project is the same as regular react state: localizing state management where the state shouldn't be lifted. In all other cases you should always lift your state in parent components.

[2018-08-13 10:53] TrySound commented on #159
However there is a trick. To reset component state (any powerplug component) you may pass another `key` prop. For example
[code]

[2018-08-13 11:12] fea17e86 commented on #159
Yes, I thought about that. But with the possibilities of render prop components, parents which exist for state management are disappearing, at least from my code. And at least in the use case that I tackled it would only increase the amount of code, whithout increasing the readability or any other quality indicator. But I do understand that you want to follow a certain set of principles. It keeps

[2018-08-13 11:12] #159 closed

[2018-08-16 08:03] DeX3 opened #160 "Export flow type definitions"
Would it be possible to export all flow type definitions? Here's a use case:

[code]

This will make flow complain:
[code]

Which makes sense I guess. This can be fixed by pulling out the render explicitly:

[code]

But now, I have to type `render` (at least with the `react/prop-types` eslint-rule active).

Sadly, `react-powerplug` does not currently export the `ValueRender` type which makes this

[2018-08-16 08:44] TrySound commented on #160
@DeX3 Does flow ask you to type this component or only this lint rule?

[2018-08-16 09:28] DeX3 commented on #160
It's actually just because of the linter rule

[2018-08-16 11:25] TrySound commented on #160
Well, I don't think `react/prop-types` is a lead rule in flow world. The idea of not exposing types is minimalistic api and type inference. Explicit types doesn't make much sense if `adopt` has well written type annotation.

If you have more thoughts on this, I will consider them.

[2018-08-16 11:49] DeX3 commented on #160
You are right that this makes sense from this point of view.

I do however I think that a lot of people might actually be able to profit from the exported types (eslint-plugin-react is [pretty popular](https://www.npmjs.com/browse/depended?offset=72) and the rule is enabled in [eslint-config-airbnb](https://www.npmjs.com/package/eslint-config-airbnb) for example).

Also one could argue about the t

[2018-08-16 12:35] TrySound commented on #160
I just don't think prop-types make any sense with flow. TypeScript types are all exported just because of lack of type inference. I was against this idea before.

[2018-08-16 22:27] renatorib commented on #152
Can we close this issue due to #154?

[2018-08-17 09:12] DeX3 commented on #160
Just to be clear: the `eslint-plugin-react`-package that provides the `react/prop-types` rule already supports flow and considers flow-types equivalent to manually using `PropTypes`. The rule just fails here because there are neither `PropTypes`, nor flow typings used.

Having a rule that forces you to type your props (independent of whether you use `PropTypes` or flow) - even if flow could infer

[2018-08-18 13:20] TrySound opened #161 "Upgrade typescript definition"
There was a few changes and we need to upgrade typescript definitions.

Changes are in these commits
https://github.com/renatorib/react-powerplug/commit/4cfb56f62c44ba92a4c4d0439ece95734726f163
https://github.com/renatorib/react-powerplug/commit/e747c261fa8d952ef2076077aa30a4a34ac7bff2
https://github.com/renatorib/react-powerplug/commit/1e6f5b0054af3d1acd380309cff1f611ab5fd34d
https://github.com/r

[2018-08-19 23:50] theKashey commented on #161
I heard about generation Flow from TS, or TS from Flow.
It will be great to have a single source of _types_.

[2018-08-20 06:48] TrySound commented on #161
That's the point. Type systems are different. For example, typescript definitions exports all types even implementation details. This is not acceptable to me in flow where I carefully work with types as a part of api.

Generation will probably will work with generating definitions from less opinionated about javascript type systems like reason.

[2018-08-20 07:10] theKashey commented on #161
Just split d.ts into 2 files, and, while types will be still visible for compiler, they will not be a part of autocomplete stuff.

[2018-08-20 08:46] TrySound commented on #161
@theKashey I don't get, how omitting `export` can make types invisible for compiler? I thought it just some kind of convention "export everything and always".

[2018-08-20 10:34] theKashey commented on #161
original d.ts
[code]
🤔🤔🤔🤔🤔🤔🤔🤔🤔

internals.d.ts
[code]

original d.ts
[code]
Bingo!

That's basically how d.ts looks like if generated from TS files - scattered across original modules, providing the same "import" experience.

[2018-08-20 10:39] TrySound commented on #161
I don't get what's wrong with this.
[code]
Why this tambourine dancing?

[2018-08-20 21:46] TrySound commented on #161
Anyway, I want to release new rc to test form component in my app. Would be good to update ts before that.

[2018-08-20 23:37] theKashey commented on #161
Also have no idea why linting is against it. I'll try to update typing in my first free time slot.

[2018-08-30 02:50] #132 closed

[2018-08-31 18:31] dearcodes opened #166 "react-powerplug breaking build after babel 7 upgrade"
Hi!

Using version `1.0.0-rc.1` breaks the build when upgrading to babel 7.

`Module not found: Error: Can't resolve '@babel/runtime/helpers/builtin/es6/objectWithoutProperties' in '.../node_modules/react-powerplug/dist'`

Any clue what is happening?

[2018-08-31 19:15] TrySound commented on #166
Do you have resolution with `@babel/runtime` or do you use next.js/create-react-app?
This dependency is fixed and should be loaded correctly until you break normal flow
https://unpkg.com/react-powerplug@1.0.0-rc.1/package.json

[2018-08-31 20:35] danielreyesGL commented on #166
Yes, I'm using `"@babel/runtime": "^7.0.0"`

Maybe the problem is related to you guys having `"@babel/runtime": "7.0.0-beta.49"` package resolution?

Version mismatch?

[2018-08-31 20:36] dearcodes commented on #166
@TrySound Yes, I'm using `"@babel/runtime": "^7.0.0"`

Maybe the problem is related to you guys having `"@babel/runtime": "7.0.0-beta.49"` package resolution?

Version mismatch?

[2018-08-31 20:42] dearcodes commented on #166
My current installed version of `@babel/runtime` is 7.0.0.
`react-powerplug` published library relies on `7.0.0-beta.49` which has conflicts with current latest release of `@babel/runtime`

[2018-08-31 22:13] TrySound commented on #166
@dearcodes As I said the dependency version is pinned. This means package manager should keep old version as a sub module in powerplug directory.

The problem may also happen if you use yarn flat mode. Please, don't. Package manager hoists modules if module can be hoisted.

[2018-09-01 08:44] lloydh commented on #166
I was also seeing this on a Gatsby v2 development site. Same error with yarn and npm.

Downgrading to the 0.1.x release got things working but a fix would be good.

[2018-09-01 08:52] TrySound commented on #166
Guys, could you check do you have your_project_dir/node_modules/react-powerplug/node_modules/@babel/runtime directory?

[2018-09-01 09:32] lloydh commented on #166
Switched back to 1.0.0-rc.1, did a fresh dependency install (yarn) and the `react-powerplug/node_modules/@babel/runtime` directory is present (`7.0.0-beta.49`).

The error persists though:
[code]

[2018-09-01 12:03] lloydh commented on #166
Looking at the output in the esm.js entrypoint (`react-powerplug/dist/react-powerplug.esm.js`), won't these imports reference the project dependencies (as opposed to `../node_modules/@babel/runtime/*`)?

[code]

If so, that's consistent with the error messages. Sorry I'm not familiar enough with rollup/babel to review the config.

[2018-09-01 12:13] TrySound commented on #166
It's not about rollup/babel. Node resolver which is used for rollup/webpack/parcel and other resolves nested dependency first and then looks for toplevel dependency.

[2018-09-07 19:38] drcmda opened #167 "onMount={props => ...}"
I'm trying to use powerplug in a docz Playground, where components can only be instanciated without carrying state. I would like to run a couple of actions once the component has mounted. It would generally be nice if powerplug components had simple to use mounting semantics where the same props that are otherwise accessible in render could be used to drive async actions, receive stuff, etc.

My s

[2018-09-08 21:01] drcmda commented on #167
Oh my, i thought i searched carefully enough.

[2018-09-14 14:24] yairEO opened #168 "Bad English in README"
https://github.com/renatorib/react-powerplug/blob/master/docs/components/Value.md

Either `a` or `some` but not both :)

----
I would simply write:

"A generic component to store a some raw data value."

[2018-09-14 14:31] yairEO commented on #168
Done - https://github.com/renatorib/react-powerplug/pull/169

[2018-09-14 14:31] #168 closed

[2018-09-14 14:51] #161 closed

[2018-09-15 10:12] yairEO opened #170 "State component - "onChange" question"
https://github.com/renatorib/react-powerplug/blob/master/docs/components/State.md

( I would like to point out that the README above lack an example for `onChange`)

My question is, is it possible to have `onChange` listen to a very specific Boolean in my state and only when that Boolean changes, fire the `onChange` callback?

I don't want to execute the `onChange` on every state change but for a

[2018-09-20 11:28] slorber opened #171 "RFC: ElementContainer"
I often use this trick in my app, mostly for modals that are stateful/connected. I'm thinking publishing it but it could also be a good fit for this project so here I am...

[code]

The idea is that it should not be painful to add / remove a portal to your tree and forcing you to migrate to stateful components.

### pros
- Simple api
- Can add multiple elements (ie show multiple modals/portals)

#

[2018-09-20 11:37] slorber commented on #171
Let's also consider the case where I have something

[code]

If I were to open the modal with other comps it would be:

[code]

The Value-based code is less clear to, particularly for cases where the initial props we want to inject in the modal is provided in the callback, it forces us to store that value somewhere first before rendering the modal

[2018-09-22 07:36] renatorib commented on #170
Unfortunately its not possible. What you can do is check the onChange's response and perform the action only if the specific value you want has changed. But onChange will fire whenever any value changes, this can not be avoided for now. Sorry.

[2018-09-22 07:36] #170 closed

[2018-09-24 12:30] stam opened #173 "Latest should not point to a release candidate"
`yarn info react-powerplug` lists:

[code]

It is weird that next > latest. Also, latest should point to a stable release.
It should be:
[code]

[2018-09-24 21:30] renatorib commented on #173
I don't know much about tags. @TrySound can you help?

[2018-09-24 21:56] TrySound commented on #173
@stam You are right. My fault. @renatorib tag release is `npm version patch && npm publish --next`. We need to publish new versions.

[2018-10-01 07:41] stam commented on #173
Is there anything I can do to help with this?

[2018-10-01 07:57] TrySound commented on #173
@stam We are gonna publish 1.0 soon.

[2018-10-01 14:45] xialvjun commented on #134
:-O Write a `Debounce and Throttle` component is easy. But the hard point is to decide should we include it in `react-powerplug`.

[2018-10-02 23:11] guilhermedecampo commented on #6
@renatorib Scroll component would be super awesome.

[2018-10-05 13:39] yairEO commented on #48
Any progress? At least have some simple demos page.. I mean, I need to see some demos before I spend any time downloading and wasting more time integrating something that i'm not sure I would like.

It's like buying cloths online without even an image, just a description :p

[2018-10-05 13:42] TrySound commented on #48
https://github.com/renatorib/react-powerplug/pull/153

[2018-10-12 03:46] damassi commented on #166
Also running into this issue with storybooks v4

[2018-10-12 03:51] damassi commented on #166
The structure of the `@babel/runtime` folder has changed and has flattened out:

<img width="754" alt="screen shot 2018-10-11 at 8 49 53 pm" src="https://user-images.githubusercontent.com/236943/46847061-48cdc200-cd97-11e8-8837-5fbdafdbf2ed.png">

[2018-10-12 16:19] harrysolovay opened #180 "`State` component implements `Value` component & not the other way around"
Hi,

I have a question about the component hierarchy: Why is it that the `State` component is using the `Value` component? It appears `Value` implements setState within its `_set` method, which scopes it to the state's `value` member. Then, the `State` component is wrapped with `Value`, which implements a new setState that calls the _set passed from `Value`... this means that setState/_set is unne

[2018-10-12 18:35] TrySound commented on #180
@harrysolovay It's because of `reset` function. It's not possible to implement reset for "native" `setState` because it's always extended, not overridden.

[2018-10-12 18:42] harrysolovay commented on #180
Ahhh, I see. That makes a lot of sense. Thank you 👍

[2018-10-12 18:42] #180 closed

[2018-10-12 21:49] renatorib commented on #180
It may not seem like it, but it simplifies a lot as well! Look https://github.com/renatorib/react-powerplug/pull/149

[2018-10-18 19:57] DeX3 commented on #166
Any updates on this? Is there a way to make powerplug work with yarn?

[2018-10-25 14:26] FezVrasta opened #183 "Wrong types with Flow and react-composer and compose"
If I do this:

[code]

I get:

[code]

if I do the same with other render-props components such as react-apollo's `Query`, it works just fine.

Is there any chance to see this fixed?

edit: actually it happens even with the react-powerplug Compose utility

[2018-10-25 15:12] TrySound commented on #183
Render and children cannot be optional. Composability with type inference doesn't work yet.
You may compose however you want without doubtful utilities.
[code]

[2018-10-27 18:04] rockmandash opened #184 "[Feature Request] React hooks support."
react-powerplug is the **_best repo_** to start supporting react hooks.

[2018-10-27 18:07] TrySound commented on #184
I think we may start with mirroring already perfected api and then look at new possibilities.

[2018-10-29 03:32] cheapsteak commented on #166
It's a problem with Storybook v4's webpack config aliasing `@babel/runtime` to the version that's in the root project's dependencies

https://github.com/storybooks/storybook/blob/a9e8e42744721144063d2c9e03ec25bc49682d08/lib/core/src/server/config/webpack.config.dev.js#L101-L103

[2018-10-29 12:20] pksjce commented on #184
Thinking of opening a PR with the implementations in [react-powerhooks](https://github.com/kalcifer/react-powerhooks)

1. Add a folder called `hooks` in `src`. Corresponding tests will be in `tests/hooks`.
2. Add flow types. Need help with ts types.
3. Documentation is a bit unclear to me.

[2018-11-06 19:23] renatorib commented on #184
Hey @pksjce, why documentaton is unclear to you? I would like to understand the difficulties in order to improve it. Anyway, I can help you to understand too.

[2018-11-06 20:13] #183 closed

[2018-11-08 16:01] renatorib commented on #173
now latest is 1.0.0
thanks

[2018-11-08 16:01] #173 closed

[2018-11-08 16:05] renatorib commented on #171
I think it is much specific. Powerplug must have generic utilities. I can not see many usecases for this component. I think the example using Value is super simple, I have not seen problems with it.

[2018-11-08 16:16] renatorib commented on #6
1.0.0 released

[2018-11-08 16:16] #6 closed

[2018-11-08 16:16] renatorib commented on #48
rena.to/react-powerplug

[2018-11-08 16:16] #48 closed

[2018-11-08 16:17] renatorib commented on #110
done in #156

[2018-11-08 16:17] #110 closed

[2018-11-08 16:20] renatorib commented on #147
Please read https://github.com/renatorib/react-powerplug/issues/183#issuecomment-433090312

[2018-11-08 16:20] #147 closed

[2018-11-08 16:22] renatorib commented on #166
I'll close this issue since it's a Storybook issue. If we get into trouble again, I'll reopen here.

[2018-11-08 16:22] #166 closed

[2018-11-08 16:42] slorber commented on #171
ok fine I'll implement something myself, probably will try with hooks

[2018-11-08 16:42] #171 closed

[2018-11-08 17:51] kserjey commented on #166
There was a problem with beta version of `@babel/runtime`, but it's gone when you've released 1.0.0. Hooray!

[2018-12-27 11:00] viczam commented on #134
https://github.com/threepointone/react-debounce - this is a pretty good one

[2019-08-04 19:57] cdfa opened #190 "Add access to browser events to feedback containers"
Hi, I'm creating a component that behaves differently based on which side the pointer entered the component. I would like to use the `Hover` container for this, but I need access to the underlying React event to implement the direction awareness. What do you think about exposing this event as an argument of the `onChange` function?

As a side note: I couldn't find any documentation about what argu

[2019-08-04 20:30] cdfa opened #191 "Changing state causes rerender that breaks animations"
Hi, I am trying to use the `<Toggle>` container to control the animation of a component, but the animations snaps between start and end instead of actually animating. This seems to be due to the children of the `<Toggle>` being completely re-rendered, instead of receiving new prop values.

I think `styleguidist` had a similar issue: https://github.com/styleguidist/react-styleguidist/issues/51

If

[2019-08-09 16:01] everdimension commented on #161
I think you rushed a bit when you updated types.

Currently, not all components pass `reset` and `resetState` callbacks (i.e. [Focus](https://github.com/renatorib/react-powerplug/blob/v1.0.0/src/components/Focus.js), [Hover](https://github.com/renatorib/react-powerplug/blob/v1.0.0/src/components/Hover.js), maybe more)

But your typings say that they do: https://github.com/renatorib/react-powerplug

[2020-06-22 20:29] Hainesy opened #199 "Initial Hover state is wrong on load if cursor is over element"
If you refresh the page with your mouse hovering over a <Hover> element, this goes undetected.

[2021-07-06 10:09] guijiangheng opened #214 "Document site is broken, 404 Not Found"

[2021-07-12 01:40] renatorib commented on #214
Fixed with new link https://renatorib.github.io/react-powerplug
thanks

[2021-07-12 01:40] #214 closed

[2021-09-10 20:39] vidjuheffex commented on #214
everyone seems to still point to the old link FYI